In [5]:
import pandas as pd

In [6]:
help(pandas)

Help on package pandas:

NAME
    pandas

DESCRIPTION
    pandas - a powerful data analysis and manipulation library for Python
    =====================================================================

    **pandas** is a Python package providing fast, flexible, and expressive data
    structures designed to make working with "relational" or "labeled" data both
    easy and intuitive. It aims to be the fundamental high-level building block for
    doing practical, **real world** data analysis in Python. Additionally, it has
    the broader goal of becoming **the most powerful and flexible open source data
    analysis / manipulation tool available in any language**. It is already well on
    its way toward this goal.

    Main Features
    -------------
    Here are just a few of the things that pandas does well:

      - Easy handling of missing data in floating point as well as non-floating
        point data.
      - Size mutability: columns can be inserted and deleted from DataFrame and
        higher dimensional objects
      - Automatic and explicit data alignment: objects can be explicitly aligned
        to a set of labels, or the user can simply ignore the labels and let
        `Series`, `DataFrame`, etc. automatically align the data for you in
        computations.
      - Powerful, flexible group by functionality to perform split-apply-combine
        operations on data sets, for both aggregating and transforming data.
      - Make it easy to convert ragged, differently-indexed data in other Python
        and NumPy data structures into DataFrame objects.
      - Intelligent label-based slicing, fancy indexing, and subsetting of large
        data sets.
      - Intuitive merging and joining data sets.
      - Flexible reshaping and pivoting of data sets.
      - Hierarchical labeling of axes (possible to have multiple labels per tick).
      - Robust IO tools for loading data from flat files (CSV and delimited),
        Excel files, databases, and saving/loading data from the ultrafast HDF5
        format.
      - Time series-specific functionality: date range generation and frequency
        conversion, moving window statistics, date shifting and lagging.

PACKAGE CONTENTS
    _config (package)
    _libs (package)
    _testing
    _typing
    _version
    api (package)
    arrays (package)
    compat (package)
    conftest
    core (package)
    errors (package)
    io (package)
    plotting (package)
    testing
    tests (package)
    tseries (package)
    util (package)

SUBMODULES
    _hashtable
    _lib
    _tslib
    offsets

FUNCTIONS
    __getattr__(name)
        # GH 27101

DATA
    IndexSlice = <pandas.core.indexing._IndexSlice object>
    NA = <NA>
    NaT = NaT
    __docformat__ = 'restructuredtext'
    __git_version__ = '2cb96529396d93b46abab7bbc73a208e708c642e'
    describe_option = <pandas._config.config.CallableDynamicDoc object>
    get_option = <pandas._config.config.CallableDynamicDoc object>
    options = <pandas._config.config.DictWrapper object>
    reset_option = <pandas._config.config.CallableDynamicDoc object>
    set_option = <pandas._config.config.CallableDynamicDoc object>

VERSION
    1.2.4

FILE
    c:\users\jaspreet singh\anaconda3\lib\site-packages\pandas\__init__.py

In [92]:
songs = {
      
    'Album':["Thriller","Back in back","Moonchildrea","Moostape"],
    'Released' : [1989,1980,2021,2021],
    'length' : ['00:42:45','00:40:30','00:27:55','1:00:40'],
    'Artist' : ["Justin Bieber","Sherlin","Diljit Dosanjh","Sidhu"],
    
}

In [93]:
df = pd.DataFrame(songs)

In [94]:
print(df)

          Album  Released    length          Artist
0      Thriller      1989  00:42:45   Justin Bieber
1  Back in back      1980  00:40:30         Sherlin
2  Moonchildrea      2021  00:27:55  Diljit Dosanjh
3      Moostape      2021   1:00:40           Sidhu

In [95]:
print(df.head())

          Album  Released    length          Artist
0      Thriller      1989  00:42:45   Justin Bieber
1  Back in back      1980  00:40:30         Sherlin
2  Moonchildrea      2021  00:27:55  Diljit Dosanjh
3      Moostape      2021   1:00:40           Sidhu

In [96]:
print(df[['Released','Artist']])

   Released          Artist
0      1989   Justin Bieber
1      1980         Sherlin
2      2021  Diljit Dosanjh
3      2021           Sidhu

In [97]:
print(df.loc[[0]])

      Album  Released    length         Artist
0  Thriller      1989  00:42:45  Justin Bieber

In [98]:
print(df.loc[0:2,'Released':'Artist'])

   Released    length          Artist
0      1989  00:42:45   Justin Bieber
1      1980  00:40:30         Sherlin
2      2021  00:27:55  Diljit Dosanjh

In [99]:
print(df)

          Album  Released    length          Artist
0      Thriller      1989  00:42:45   Justin Bieber
1  Back in back      1980  00:40:30         Sherlin
2  Moonchildrea      2021  00:27:55  Diljit Dosanjh
3      Moostape      2021   1:00:40           Sidhu

In [100]:
print(df.loc[0:3,'Artist':])

           Artist
0   Justin Bieber
1         Sherlin
2  Diljit Dosanjh
3           Sidhu

In [101]:
df['Released'].unique()

array([1989, 1980, 2021], dtype=int64)

In [102]:
df1 = df[df['Released']>=2020]

In [103]:
df1

          Album  Released    length          Artist
2  Moonchildrea      2021  00:27:55  Diljit Dosanjh
3      Moostape      2021   1:00:40           Sidhu

In [104]:
df

          Album  Released    length          Artist
0      Thriller      1989  00:42:45   Justin Bieber
1  Back in back      1980  00:40:30         Sherlin
2  Moonchildrea      2021  00:27:55  Diljit Dosanjh
3      Moostape      2021   1:00:40           Sidhu

In [111]:
for i in df['Released']:
    print(i>=2021)

False
False
True
True

In [112]:
df.to_csv('newSongs.csv')

In [114]:
df2 = pd.read_csv('newSongs.csv')

In [116]:
len(df2)

4